html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: .5em 0;
}

.grains {
  display: flex;
  justify-content: space-between;
}

img {
  width: 40px;
  height: 40px;
  margin: .5em 0;
}

.nav li {
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a63f38;
  width: 33.33%;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #a63f38;
}
